<div>
  <a routerLink="/gridItems/additionForm">
    <button>Add</button>
  </a>

  <clr-datagrid>
    <clr-dg-column>Title</clr-dg-column>
    <clr-dg-column>Text</clr-dg-column>
    <clr-dg-column>Language</clr-dg-column>
    <clr-dg-column>Date</clr-dg-column>

    <clr-dg-row *ngFor="let gridItem of gridItems">
      <clr-dg-action-overflow>
        <button class="action-item" (click)="editGridItem(gridItem)">Edit</button>
        <button class="action-item" (click)="deleteItem(gridItem.id)">delete</button>
      </clr-dg-action-overflow>
      <clr-dg-cell>{{gridItem.title}}</clr-dg-cell>
      <clr-dg-cell>{{gridItem.text}}</clr-dg-cell>
      <clr-dg-cell>{{gridItem.lang}}</clr-dg-cell>
      <clr-dg-cell>{{gridItem.date | date:"MMM d, y, h:mm:ss a"}}</clr-dg-cell>

    </clr-dg-row>

    <clr-dg-footer *ngIf="gridItems">{{gridItems.length}} users</clr-dg-footer>
  </clr-datagrid>

</div>


<app-item-details [gridItem]="selectedItem"></app-item-details>
