<div>
  <h2>
    Login!
  </h2>
  <form (ngSubmit)="login(user.value, pass.value)">
    <label for="user">username</label>
    <input id="user" name="user" minlength="4" maxlength="20" #user type="text"/>
    <div>
      <label for="pass">password</label>
      <input id="pass" name="pass" type="password" minlength="4" maxlength="20" #pass/>
    </div>
    <div>
      <button type="submit">Login</button>
    </div>
    <div class="warning" *ngIf="clicked">
      invalid login details!
    </div>
  </form>
</div>

