<div>
  <h2>Addition Form</h2>
  <form (ngSubmit)="addItem(title.value, text.value, lang.value, date.value)" #additionForm="ngForm">
    <div>
      <label for="title">Title</label>
      <input type="text" id="title" class="form-control" required minlength="4" [(ngModel)]="model.title" name="title"
             #title="ngModel"/>
    </div>
    <div [hidden]="title.valid || title.pristine" class="alert alert-danger">
      Title must be 4 characters or more
    </div>
    <div>
      <label for="text">text</label>
      <input type="text" id="text" class="form-control" required maxlength="100" [(ngModel)]="model.text" name="text"
             #text="ngModel"/>
    </div>
    <div [hidden]="text.valid || text.pristine" class="alert alert-danger">
      Text must be 1-100 characters
    </div>
    <div>
      <label for="language">language</label>
      <select class="form-control" id="language" required [ngModel]="model.lang" name="lang" #lang="ngModel">
        <option>English</option>
        <option>Armenian</option>
        <option>Russian</option>
      </select>
    </div>
    <div>
      <label for="date">Date</label>
      <input type="date" id="date" [ngModel]="model.date" name="date" #date="ngModel" clrDate>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!additionForm.form.valid">Submit</button>
    <a routerLink="/gridItems">
      <button>back</button>
    </a>
  </form>
</div>
