<div *ngIf="gridItem">
  <div>
    <label>Item:
      <input [(ngModel)]="gridItem.title" placeholder="title"/>
      <input [(ngModel)]="gridItem.text" placeholder="text"/>
      <input [(ngModel)]="gridItem.lang" placeholder="title"/>
      <input [(ngModel)]="gridItem.date" placeholder="title"/>
    </label>
  </div>
  <button (click)="hide()">hide</button>
  <button (click)="save()">save</button>
</div>
